:root {
    --color-1: #A9D1E9;
    --color-2: #fdeeb5;
    --color-3: #A9E8D7;
    --header: #8A9DA8;
    --bg: #3C5769;
    --text: #222;
}

body {
    background-color: var(--bg);
}

header {
    background-color: var(--header);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: space-around;
}

.box-list {
    width: 600px;
    height: auto;
    background-color: #A9E4E8;
    margin: 8px;
    padding-top: 8px;
    text-align: center;
    border-radius: 16px;
}

.todo {
    background-color: var(--color-1);
}

.doing {
    background-color: var(--color-2);
}

.done {
    background-color: var(--color-3);
}

.add-item {
    background-color: var(--header);
    outline: none;
    border: 1px solid #333;
    padding: 8px;
    margin-top: 8px;
    border-radius: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.add-item:hover {
    background-color: #666;
    transition: 0.6s ease;
}

footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}